//置中
@mixin center($val) {
    margin: $val auto 0;
}

// 圓角設定
@mixin borderR($val:10px) {
    border-radius: $val;
}

@mixin rect($w , $h:$w){
   width: $w;
   height: $h;
   @content;
}


.a {
  @include rect(300px){
      background-color: #fff;
      @include center(0);
      .box {
         width: 100px; 
      
      }

  }


}

