body {
    font-size: $fontSize;
    background-color: rgb(172, 177, 255);

    h1 {
        font-size: 2.2rem;
        transition: cubic-bezier(.8) all;
        user-select: none;
    }
}


// 共用
.wrapper {
    background-color: rgb(252, 205, 205);
    @include layout();
    height: 700px;



}