@mixin layout($class ,  $layoutwidth) {
    .#{$class} {
        @if $layoutwidth == $fixwidth {
            width: 100%;
            max-width: $fixwidth;
            margin: 0 auto;
            @content;
        }
        @else {
           width:  $layoutwidth;
            @content;
        }
    }
}

@mixin layouts($class ,  $layoutwidth) {
    .#{$class} {
        @if ($layoutwidth == 100vw or $layoutwidth == 100% ){
           width : $layoutwidth;
           @content;
        }
        @else {
            width: 100%;
            max-width: $layoutwidth;
            margin: 0 auto;
            @content;
        }
    }
}



