@import 'base/var';
@import 'base/reset';
@import 'modules/card';
@import 'mixin/mixin';


body {
    margin: $margin;
    font-size: $basicfontSize;
    padding: 10px;
    background-color: $gray;
    color: map-get($color, primary);
    font-family: $fontFamily;
    //  width:  $a;
    #{$h}: 100px;
    background-image: url('#{$file}/aa.jpg');
}

#{$class} {
    width: 100px;
}

// class轉型


a {
    font-size: 20px;
    color: $link;
}

a:hover {
    // color: darken($link, 30); // 顏色變深
    color: lighten($link, 10); // 顏色變淺
}



.box {
    width: 10em + 1em;
    height: 10em - 2em;
    margin: 10 * 12px;

    @if $textcolor==black and $textcolor==#000 {
        color: #000;
    }

    @else {
        color: #f20;
    }
}




.wrapper {
    @if $layoutwidth==full {
        width: 100%;
    }

    @else {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
}



.btn-#{$btn} {
    min-width: 100px;

    @if $btn==large {
        padding: 10px 20px;
    }

    @else if $btn==medium {
        padding: 8px 14px;
    }

    @else {
        padding: 2px 8px;
    }

    text-align: center;
}


.container-full {
    width: 100%;

    .sidebar {
        width: 30%;

        .menu {
            ul {
                width: 100px;

                li {
                    padding: 10px;
                }

            }

        }
    }

    .content {
        width: 70%;
    }
}






a {
   color: #f20;
   &:hover {
       color: darken(#f20, 30);
   }
   &::after {
     content: '';
   
   }
   &::before {
     content: '';
   
   }
   &:active {
     color: darkred;
   }
}