@import 'base/var';
@import 'base/reset';
@import 'mixin/mixin';
@import 'modules/card';
@import 'modules/btn';
@import 'modules/layout';
@import 'modules/flexcenter';
@import 'modules/rwd';


body {
    margin: $margin;
    font-size: $basicfontSize;
    background-color: $gray;
    color: map-get($color, primary);
    font-family: $fontFamily;
    //  width:  $a;
    #{$h}: 100px;
    background-image: url('#{$file}/aa.jpg');
}

#{$class} {
    width: 100px;
}

// class轉型


a {
    font-size: 20px;
    color: $link;
}

a:hover {
    // color: darken($link, 30); // 顏色變深
    color: lighten($link, 10); // 顏色變淺
}



.box {
    width: 10em + 1em;
    height: 10em - 2em;
    margin: 10 * 12px;

    @if $textcolor==black and $textcolor==#000 {
        color: #000;
    }

    @else {
        color: #f20;
    }
}











.btn-#{$btn} {
    min-width: 100px;

    @if $btn==large {
        padding: 10px 20px;
    }

    @else if $btn==medium {
        padding: 8px 14px;
    }

    @else {
        padding: 2px 8px;
    }

    text-align: center;
}


.container-full {
    width: 100%;

    .sidebar {
        width: 30%;

        .menu {
            ul {
                width: 100px;

                li {
                    padding: 10px;
                }

            }

        }
    }

    .content {
        width: 70%;
    }
}






a {
    color: #f20;

    &:hover {
        color: darken(#f20, 30);
    }

    &::after {
        content: '';

    }

    &::before {
        content: '';

    }

    &:active {
        color: darkred;
    }
}


@include layout('wrapper' , 1366px){
  background-color: rgb(155, 155, 155);
  height: 400px;
}

@include layout('kv' , 100vw){
  background-color:rgb(183, 255, 242) ;
  height: 300px;
}

@include layouts('scene_01' , 1200px){
  background-color: #d2d2d2;
  height: 300px;
  @include flex_center();
  .box_flex {
   @include rect(100px , 100px);
   background-color: aquamarine;
}
};


@include layouts('rwd' , 1024px){
    background-color: rgb(177, 234, 255);
    height: 400px;
    h1 {
        font-size: 16px;
        @include t(){
          font-size:  30px;
          color: #f20;
        }
        @include m(){
          font-size: 100px;
          color: rgb(48, 255, 62)
        }
    
    
    }

    .conetnt {
      @include rect(200px);
      @include m(){
         @include rect(100%);
      }
      @include center(0);
      background-color: rgb(84, 84, 84);
    } 
 
}







