@mixin rect($w, $h:$w) {
    width: $w;
    height: $h;
}

@mixin layout($w: 1200px) {
    margin: 0 auto;
    width: $w;
}



// 平板
@mixin t() {
    @media screen and (max-width:$t_breakpoint) {
        @content;
    }
}


// 手機
@mixin m() {
    @media screen and (max-width:$m_breakpoint) {
        @content;
    }
}

@mixin rwd($w:$m_breakpoint) {
    @media screen and (max-width:$w) {
        @content;
    }


}