header {
  .logo {
     @include rect(100px, 80px);
     display: inline-block;
     background-color: rgb(242, 242, 242);
  }
  nav {
   display: inline-block;
    ul {
      list-style: none;
      li {
          min-width: 100px;
          height: auto;
          display: inline-block;
          a {
            color:  $menu;
            text-decoration: none;
             &:hover {
                color: darken($menu, 20);
             }

          }
      }
    }
  
  }

}