//變數
/* css註解 */
$margin: 0; // list 
$basicfontSize : 16px;
$gray : #e1e1e1;
$blue : rgb(12, 101, 255);
$link : rgb(149, 90, 252);
$fontFamily : '"Gill Sans", sans-serif;';
$null : null;
$color : (primary : blue,
    info : yellow); // map

$a : 30px;
$a : 20px !default; // 設定預設值 層級最低


// 固定寬寬度
$fixwidth : 1366px;


//  圖片路徑
$file : 'assets/img'; // 字串轉數值
$h : 'height'; // 屬性
$class : '.box'; // class

// 字級大小
$size-0: 13px; 
$size-1: 14px; 
$size-2: 16px; 
$size-3: 18px; 
$size-4: 20px; 
$size-5: 22px; 

//顏色
$textcolor : #222;
//版型
$layoutwidth : 1200px;
//斷點

$cell : 720px;
$tablet : 1024px;


// 按鈕
$btn : large;